*{
	margin:0;
	padding:0;
	border-spacing:0;
	outline: none;
}
html,body{
	width: 100%;
}
body{
	font-size: 100px;
	font-family:"微软雅黑";
	background-color: #fff;
}
header{
	width:100%;
	font-size: 0;
}
header img{
	width:100%;
}

.outSection,.cooperation,.cooperationMode,.cooperationProcess,.contact{
	width:96%;
	margin:0 auto;
}
h3{
	font-size:0.14rem;
	font-weight: normal;
	height:0.23rem;
	line-height:0.23rem;
	margin:0.12rem auto;
	/*text-indent: 0.5em;*/
	padding-bottom:0.03rem;
	border-bottom:1px solid #f8b43c;
}
h4{
	font-size: 0.12rem;
	font-weight: normal;
	height:0.2rem;
	line-height:0.2rem;
	/*color:#6d6d6d;*/
}
h3 span{
	color:#f8b43c;
}
p{
	font-size: 0.11rem;
	text-indent: 2em;
	color:#6d6d6d;
	line-height: 0.18rem;
}
.dotted{
	display: inline-block;
	width:0.05rem;
	height:0.05rem;
	border-radius: 50%;
	background-color: #f8b43c;
	margin-right: 0.1rem;
	margin-bottom: 0.02rem;
}
.cooperationProcess img{
	width:100%;
}
.contact{
	margin-bottom: 0.2rem;
}

footer{
	width:100%;
	font-size:0px;
	margin-top: 0.1rem;
}
footer img{
	width:100%;
}